spring.application.name=challenge-screenmatch-frases
spring.datasource.url=jdbc:postgresql://${DB_HOST}/screenmatch_frases
spring.datasource.username=${DB_USER}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver
hibernate.dialect=org.hibernate.dialect.HSQLDialect

spring.jpa.hibernate.ddl-auto=update

# Habilita logs de SQL
spring.jpa.show-sql=true

# Habilita formacion de logs de SQL
spring.jpa.properties.hibernate.format_sql=true
